<div class="contentForm">
<legend>Ingresar Tipo Mecanico</legend>

  <%= bootstrap_form_for (@tipo_mecanico)  do |f| %>
  <div class="form-group">
    
    <%= f.text_field :nombre %>

      <%= f.primary 'Guardar' %>
      
   </div>

  <% end %>
  </div>