<div class="content-table">


            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        
		<legend><h1>Estados de maquinas</h1></legend>
		<% EstadoMaquina.all.each do |estado| %>
		<div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-truck fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= Maquina.where("estado_maquina_id="+estado.id.to_s).count %> </div>
                                    <div><%= estado.nombre %>  </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Detalles</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
        </div>
		<% end %>
		<div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h2> Estados de Maquinas </h2>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
				
				
		
</div>
<script>

var jsondat = "<%= @emaq.to_json %>"
Morris.Donut({
        element: 'morris-donut-chart',
        data: JSON.parse(jsondat.replace(/(&quot\;)/g,"\"")),
        resize: true
    });
	
	
</script>
