
<legend>Editar tipo de Mecanico</legend>

  <%= bootstrap_form_for (@tipo_mecanico)  do |f| %>


  
  <div class="form-group">
    
    <%= f.text_field :nombre %>

    
      <%= f.primary 'Editar' %>
   </div>
   

  <% end %>