<div class="contentForm">
<legend>Editar tipo de Repuesto</legend>

  <%= bootstrap_form_for (@tipo_repuesto)  do |f| %>


  
  <div class="form-group">
    
    <%= f.text_field :nombre %>

    
      <%= f.primary 'Editar' %> <%= link_to 'Volver', tipo_repuestos_path, class: "btn btn-warning" %>
   </div>
   

  <% end %>
  </div>