<div class="contentForm">
<legend>Ingresar Tipo Repuesto</legend>

  <%= bootstrap_form_for (@tipo_repuesto)  do |f| %>
  <div class="form-group">
    
    <%= f.text_field :nombre %>

      <%= f.primary 'Guardar' %>
   </div>

  <% end %>
  </div>