

<div class="gridster">
  <ul>
    
	<% EstadoMaquina.all.each do |m|  	# Recorre todos los estados de las maquinas %>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="maquina<%= m.id %>" data-view="Meter" data-title="Maquinas <%= m.nombre %>" data-min="0" data-max="<%= Maquina.all.count %>"></div>
    </li>	
	<% end %>
  </ul>
  <ul>
	<li>
		<div data-id="hola" data-view="maquinas" data-title="Maqu" data-min="0" data-max="100"></div>
	</li>
  </ul>

</div>
