<div class="contentForm">
<legend>Editar Estado de Maquinaria</legend>

  <%= bootstrap_form_for (@estado_maquina)  do |f| %>

  
  <div class="form-group">
    
    <%= f.text_field :nombre %>

    
      <%= f.primary 'Editar' %> <%= link_to 'Volver', estado_maquinas_path, class: "btn btn-warning" %>
   </div>
   

  <% end %>
  </div>