<div class="contentForm">
<legend>Ingresar Tipo Factura</legend>

  <%= bootstrap_form_for (@tipo_factura)  do |f| %>
  <div class="form-group">
    
    <%= f.text_field :nombre %>

      <%= f.primary 'Guardar' %>
      
   </div>
  <% end %>
  </div>