
<legend>Editar tipo de Maquinaria</legend>

  <%= bootstrap_form_for (@tipo_maquina)  do |f| %>


  
  <div class="form-group">
    
    <%= f.text_field :nombre %>
    <%= f.primary 'Editar' %> 
   </div>
   

  <% end %>
