
<!-- Modal -->
<div class="modal fade" id="modalLogin"  role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document" >
		<div class="modal-content">     
		  <div class="modal-body">
				<div id="login">
					<%= form_tag sessions_path, remote: true do |f| %>			
						Usuario: <%= text_field_tag :usuario, params[:usuario], class: "loginIn" %>	
						<br>Contraseña: <%= password_field_tag :password %>			
						<%= submit_tag "Iniciar" %>		
					<% end %>
				</div>
		  
			</div>    
		
		</div>
	</div>
</div>
